.bgss-animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bgssFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes bgssFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.bgssFadeIn {
  -webkit-animation-name: bgssFadeIn;
  animation-name: bgssFadeIn; }

@-webkit-keyframes bgssFadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@keyframes bgssFadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
.bgssFadeOut {
  -webkit-animation-name: bgssFadeOut;
  animation-name: bgssFadeOut; }
